<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Censo DeMolay RJ 2018</title>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap-social.css">

  </head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar1">
                <a class="navbar-brand" href="/">
                    <img src="/img/gelj.png" width="40" height="40" alt="">
                </a>
                <a class="navbar-brand" href="/">Censo DM 2018 - GELJ</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/sobre">Sobre</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/privacy">Privacidade</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://www.facebook.com/gabinetejuvenilrj/" target="_blank"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://www.demolayrj.com.br/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                  <ul class="navbar-nav">
                    <%if(!currentUser){%>
                      <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                      </li>
                  <%  } else {%>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Signed in as <%=currentUser.username%></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">Logout</a>
                    </li>
                <%  } %>
                </ul>
                  <!-- <span class="navbar-text" id="hugo">
                  Mestre Conselheiro Estadual <br>
                      Hugo Frazão
                </span>
                <span class="navbar-text">
                Mestre Conselheiro Estadual Adjunto <br>
                    Felipe Martins
              </span> -->
                </div>
              </nav>
              <div class="container flash">
                <% if(error && error.length > 0) { %>
                  <div class="alert alert-danger" role="alert"><%=error%></div>
                <% } %>
              </div>
              <div class="container flash">
                <% if (success && success.length > 0) { %>
                <div class="alert alert-success" role="alert"><%=success%></div>
                <% } %>
              </div>
