<% include partials/header %>

  <div class="container">
  	<div class="row">
  		<div class="col-lg-12">
  			<div class="content">
  				<h1>Censo DeMolay 2018</h1>
  				<h3>Gabinete Estadual da Liderança Juvenil</h3>
          <a href="/form"><button class="btn btn-default btn-lg"><i class="fas fa-arrow-circle-right"></i> Faça ja!</button></a>

  				<hr class="style-seven">
  			</div>
  		</div>
  	</div>
  </div>

  <% include partials/footer %>