<% include partials/header%>



<div class="container" id='containerForm'>
  <h1>Login</h1>
  <a class="btn btn-social btn-google" href="/auth/google">
    <span class="fab fa-google"></span> Entrar com Google
  </a>
  <a class="btn btn-social btn-facebook" href="/auth/facebook">
    <span class="fab fa-facebook"></span> Entrar com Facebook
  </a>
</div>


<% include partials/footer%>
