<% include partials/header%>



<div class="container" id='containerForm'>
  <h1>Cadastre-se</h1>
  <form class="" action="/register" method="POST">
    <input type="text" name="username" placeholder="Login" value="">
    <input type="password" name="password" placeholder="Senha" value="">
    <button class='btn btn-success'>Registrar</button>
  </form>
</div>




<% include partials/footer%>
