<% include partials/header %>


<div class="container pre-scrollable" id="containerForm">
  <h2>Censo DeMolay RJ 2018</h2>

  <br>
  <br>
  <p>O Censo DeMolay RJ é um projeto da Secretaria de Administração do Gabinete da Liderança Juvenil do Grande Capítulo do Estado do Rio de Janeiro.
    Temos como objetivo, agregar informações de todos os Capítulos de nosso estado, focando em diversas areas, como: Ritualistica; Administração; Comissões e outras.
    <br>
    <br>
    Essa informações serão comparadas com Censos realizados nos anos passados, e servirão para que o Gabinete da Liderança Juvenil possa agir de forma mais eficaz com os Capítulos
    <br>
    <br>
     Cada Capítulo deverá preencher somente um Formulário, este podendo ser preenchido pelo Mestre Conselheiro, Primeiro Conselheiro ou Segundo Conselheiro.
     <br>
     <br>
     Em caso de duvidas ou sugestões, Favor enviar um email para: sec.administracao@demolayrj.com.br

     <br>
     <br>
     <br>
     <br>

     <i>Gabriel Henriques - Secretário de Administração do Gabinete da Liderança Juvenil do Estado do Rio de Janeiro</i>

   </p>

<br>
<br>
<br>
<br>
<br>
<br>
<p style="font-size: 12px;">Site Criado por: Gabriel Henriques - henriques.gabriel33@gmail.com</p>

<div class="container" style="font-size:20px;">
  <a href="https://github.com/ChuckDM/censoCon2" class="fab fa-github" target="_blank"></a>
  <a href="https://www.facebook.com/gabriel.henriques.33" class="fab fa-facebook-square" target="_blank"></a>
  <a href="https://www.linkedin.com/in/gabriel-henriques-1b5173150/" class="fab fa-linkedin"target="_blank"></a>
</div>

</div>

<% include partials/footer %>
